/* globals.css */

/* Temel Tailwind Direktifleri */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Tanımlaması */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Temel Body Stilleri */
body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace; /* Fontu tüm siteye uygula */
  cursor: none; /* Orijinal fare imlecini gizler */
}

/* Scrollbar Gizleme */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Kuyruklu Yıldız Mouse Efekti */
.comet-cursor {
  position: fixed;
  width: 30px;
  height: 6px;
  background: linear-gradient(90deg, #cff269, transparent);
  border-radius: 3px;
  pointer-events: none;
  z-index: 9999;
  filter: blur(1px);
}

/* Arka Plan Işıma Efekti */
.background-glow {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(45, 255, 10, 0.2) 0%, transparent 70%);
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  animation: glow-animation 20s infinite alternate;
}

@keyframes glow-animation {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(-50px, 50px) scale(1.2);
  }
}

/* globals.css'in sonuna ekleyin */

.neon-divider {
  width: 12px; /* Çizginin kalınlığı */
  height: 32rem; /* 192px - Yüksekliği buradan ayarlayabilirsiniz */
  background-color: #34d399; /* Ana parlak yeşil renk */
  border-radius: 9999px;
  /* Kutu gölgesi ile çok katmanlı bir parlama efekti oluşturuyoruz */
  box-shadow: 0 0 5px #34d399, 
              0 0 15px #34d399, 
              0 0 30px #34d399, 
              0 0 60px rgba(52, 211, 153, 0.5);
  animation: flicker 3s infinite alternate; /* Titreşme animasyonu */
}

/* Parlamanın hafifçe titreşmesini sağlayan animasyon */
@keyframes flicker {
  0%, 100% {
    box-shadow: 0 0 5px #34d399, 
                0 0 15px #34d399, 
                0 0 30px #34d399, 
                0 0 60px rgba(52, 211, 153, 0.5);
  }
  50% {
    box-shadow: 0 0 10px #4ade80, 
                0 0 25px #4ade80, 
                0 0 45px #4ade80, 
                0 0 80px rgba(74, 222, 128, 0.6);
  }
}